body
{
margin: 0;
padding: 0;
background-color: rgb(0, 0, 0);

}
#intro
{  
    margin-top: 0;
    width: 100%;
   height: 100vh;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    position: relative;
}
video
{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
nav > img
{
    
    margin-left: 20px;
    height: 70px;
    width: 280px;
    margin-top: 20px;
    border-radius: 10px;
}
nav>div
{
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
nav>div>select
{
    background-color: rgba(56, 56, 236, 0);
    color: white;
    height: 35px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid rgb(23, 23, 243);
    font-size: 15px;
    padding: 5px;
}
nav>div>select>option
{
    border-radius: 5px;
    background-color: black;
}
nav>div>button
{
    color: rgb(3, 10, 107);
    height: 35px;
    width: 100px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    margin-right: 20px;
    border: 1px solid rgb(23, 23, 243);
}
#intro>h1,p
{
    
    color:white;
    text-align: center;
    
}
#intro>h1
{
    margin-top: 160px;
    font-size: 4.2rem;
    margin-bottom: 0;
    text-shadow: 0px 6px 3px rgb(39, 18, 224);
}
#intro>p
{
    font-size: 2rem;
}

#demo-vid
{
  margin-top: 20px;
}


#demo-vid>#demo
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
#demo>#vidiv
{
   background-color: rgba(0, 0, 0, 0.281);
   position: relative; 
   background-blend-mode: overlay;
   width: 600px;
   height: 350px;
   margin-left: 25px;
}
#demo>#vidiv>#vid
{
  height: 350px;
  width: 600px;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}
#demo-vid>#demo>#data>h1
{
 font-size: 50px;
 color: white;
 text-shadow: 6px 2px 3px rgb(56, 18, 116);
}
#demo-vid>#demo>#data>p
{
 font-size: 30px;
 color: white;
}
#demo-vid>#demo>#data>a
{
  margin-left: 33%;
}
#demo-vid>#demo>#data>a>button
{
    color: rgb(252, 248, 248);
    background-color: rgb(57, 57, 250);
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-size: 15px;
}
#demo-vid>#demo>#data
{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}

/*bikes section*/

#bikes
{
    margin-top: 35px;
   margin-bottom: 8%;
}
#bikes>h2
{
    color: white;
     margin-top: 0px;
     margin-bottom: 35px;
     font-size: 50px;
     margin-left: 40px;
     text-shadow: -2px 2px 2px rgb(56, 18, 116);
     text-align: center;
}

#bikes>#container
{
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

#bikes>#container>#div1
{
   
    text-align: center;
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    border-radius: 20px;
}
#bikes>#container>#div2
{
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    text-align: center;
    border-radius: 20px;
}
#bikes>#container>#div3
{
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    text-align: center;
    border-radius: 20px;
}
#bikes>#container>#div1>img
{
    height: 270px;
    width: 380px;
    transition:2s; 
}
#bikes>#container>#div1>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0;
}
#bikes>#container>#div1>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
    margin-bottom: 22px;
}

#bikes>#container>#div1>button
{
background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}
#bikes>#container>#div2>button
{
background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}
#bikes>#container>#div3>button
{
background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}

#bikes>#container>#div1>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}
#bikes>#container>#div2>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}
#bikes>#container>#div3>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}

#bikes>#container>#div1>audio
{
   width: 30px; 
   height: 30px;
  margin-top: 10px; 
}
#bikes>#container>#div2>audio
{
   width: 30px; 
   height: 30px;
   margin-top: 10px; 
}
#bikes>#container>#div3>audio
{
   width: 30px; 
   height: 30px;
   margin-top: 10px; 
}

#bikes>#container>#div2>img
{
    height: 230px;
    width: 330px;
    margin-top: 30px;
    transition:2s; 
}
#bikes>#container>#div2>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 0px;
    
}
#bikes>#container>#div2>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
}
#bikes>#container>#div3>img
{
    height: 220px;
    width: 320px;
    margin-top: 30px;
    transition:2s; 
}
#bikes>#container>#div3>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 23px;
}
#bikes>#container>#div3>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
}


/* second card section */

#bikes>#container2
{
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-evenly;
   
}


#bikes>#container2>#div1
{
   
    text-align: center;
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    border-radius: 20px;
}
#bikes>#container2>#div2
{
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    text-align: center;
    border-radius: 20px;
}
#bikes>#container2>#div3
{
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    text-align: center;
    border-radius: 20px;
}
#bikes>#container2>#div1>img
{
    height: 240px;
    width: 350px;
    margin-top: 20px;
    transition:2s; 
}
#bikes>#container2>#div1>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0;
    
}
#bikes>#container2>#div1>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
}
#bikes>#container2>#div1>button
{
    background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}
#bikes>#container2>#div2>button
{
    background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}
#bikes>#container2>#div3>button
{
    background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}

#bikes>#container2>#div1>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}
#bikes>#container2>#div2>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}
#bikes>#container2>#div3>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}

#bikes>#container2>#div1>audio
{
   width: 30px; 
   height: 30px;
 margin-top: 10px;
 
}
#bikes>#container2>#div2>audio
{
   width: 30px; 
   height: 30px;
   margin-top: 10px;
}
#bikes>#container2>#div3>audio
{
   width: 30px; 
   height: 30px;
   margin-top: 10px;
}



#bikes>#container2>#div2>img
{
    height: 200px;
    width: 300px;
    margin-top: 40px;
    transition:2s; 
  
}
#bikes>#container2>#div2>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-top:20px;
    margin-bottom: 0;
    
}
#bikes>#container2>#div2>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
}
#bikes>#container2>#div3>img
{
    height: 220px;
    width: 320px;
    margin-top: 30px;
    transition:2s; 
}
#bikes>#container2>#div3>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 10px;
}
#bikes>#container2>#div3>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
}
#bikes>#container img:hover
{ 
    transform: scale(1.2);
}
#bikes>#container2 img:hover
{ 
    transform: scale(1.2);
}

/*section whatsnewm*/

#whatsnew
{
    margin-bottom: 8%;
}

#whatsnew>h1
{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5%;
    
    letter-spacing: 2px;
}
#whatsnew>#what-cont p
{
    color: white;
    font-size: 1.2rem;
    border-left: 4px solid rgb(56, 18, 116);
}

#whatsnew>#what-cont
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
   
}


#about-us>#main-cont
{
   color: white; 
   text-align: center;
}
#about-us>#main-cont>h1
{
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 5%;
    padding-top: 30px;
   
}
#about-us>#main-cont>p
{
    font-size: 2rem;
    text-align: center;
  
}

#about-us
{
    width: 100%;
    height: 130vh;
     background-color: rgba(0, 0, 0, 0.733);
     background-blend-mode: overlay;
     position: relative;
}
#about-us>img
{
    width: 100%;
    height: 130vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    
}
#about-us>#main-cont>#main-bot
{
    display: flex;
    justify-content: space-between;
    width:50%;
    margin: auto;
   
}
#about-us>#main-cont>#main-bot>p>a
{
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
#about-us>#main-cont>#main-bot>p
{   
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(69, 69, 236);
}


#footer
{
  margin-top: 8%;
}
#footdiv
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 40px;
    border: 1px solid rgb(56, 18, 116);
    border-radius: 10px;
}
#footdiv>div>ul
{
    list-style: none;
    padding: 0;
}
#footdiv>div>ul>li>a
{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    line-height: 40px;
}
.head
{
    border-bottom: 2px solid rgb(56, 18, 116); 
}


#footer>#connect-with
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
   
}
#footer>#connect-with i
{
    color: rgb(193, 160, 247);
    font-size: 3rem;
}
#footer>#connect-with>div
{
    border-bottom: 2px solid rgb(56, 18, 116); 
    padding-bottom: 20px;
}


@media (max-width:600px)
{
    body
    {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    border: 1px solid red;
    
    }
    #intro
    {  
        margin-top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        background-blend-mode: overlay;
        position: relative;
    }
    video
    {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
        object-fit: cover;
        
    }

/*nav section */

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
nav > img
{
    
    margin-left: 10px;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
}
nav>div
{
    
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    
}
nav>div>select
{
    background-color: rgba(56, 56, 236, 0);
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: 1px solid rgb(23, 23, 243);
    font-size: 15px;
    padding: 5px;
    margin-top:20px ;
}
nav>div>select>option
{
    border-radius: 5px;
    background-color: black;
}
nav>div>button
{
    color: rgb(3, 10, 107);
    height: 30px;
    width: 80px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    margin-right: 10px;
    border: 1px solid rgb(23, 23, 243);
    margin-top:20px ;
}

/*intro section */

#intro>h1,p
{
    
    color:white;
    text-align: center;
    
}
#intro>h1
{
    margin-top: 150px;
    font-size: 4rem;
    margin-bottom: 0;
    text-shadow: 0px 6px 3px rgb(39, 18, 224);
}
#intro>p
{
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
}

/*demo-video section */

#demo-vid
{
  margin-top: 0px;
}


#demo-vid>#demo
{
    display: block;
    justify-content: space-between;
    padding: 10px;
    
}
#demo>#vidiv
{
   background-color: rgba(0, 0, 0, 0.281);
   position: relative; 
   background-blend-mode: overlay;
   width: 100%;
   height: 350px;
   margin-left: 0px;
}
#demo>#vidiv>#vid
{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  text-align: center;
}
#demo-vid>#demo>#data>h1
{
 font-size:3rem;
 color: white;
 text-shadow: 6px 2px 3px rgb(56, 18, 116);
}
#demo-vid>#demo>#data>p
{
 font-size: 30px;
 color: white;
}
#demo-vid>#demo>#data>a
{
  margin-left: 0px;
}
#demo-vid>#demo>#data>a>button
{
    color: rgb(252, 248, 248);
    background-color: rgb(57, 57, 250);
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-size: 15px;
}
#demo-vid>#demo>#data
{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0px;
    text-align: center;
}

/*bike section */

#bikes
{
    margin-top: 35px;
   margin-bottom: 8%;
}
#bikes>h2
{
    color: white;
     margin-top: 0px;
     margin-bottom: 35px;
     font-size: 3rem;
     margin-left: 40px;
     text-shadow: -2px 2px 2px rgb(56, 18, 116);
     text-align: center;
}

#bikes>#container
{
    display: block;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

#bikes>#container>#div1
{
   
    text-align: center;
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    
}
#bikes>#container>#div2
{
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    text-align: center;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
#bikes>#container>#div3
{
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    text-align: center;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
#bikes>#container>#div1>img
{
    height: 270px;
    width: 380px;
    transition:2s; 
}
#bikes>#container>#div1>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0;
}
#bikes>#container>#div1>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#bikes>#container>#div1>button
{
background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}
#bikes>#container>#div2>button
{
background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}
#bikes>#container>#div3>button
{
background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}

#bikes>#container>#div1>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}
#bikes>#container>#div2>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}
#bikes>#container>#div3>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}

#bikes>#container>#div1>audio
{
   width: 30px; 
   height: 30px;
  margin-top: 10px; 
}
#bikes>#container>#div2>audio
{
   width: 30px; 
   height: 30px;
   margin-top: 10px; 
}
#bikes>#container>#div3>audio
{
   width: 30px; 
   height: 30px;
   margin-top: 10px; 
}

#bikes>#container>#div2>img
{
    height: 230px;
    width: 330px;
    margin-top: 30px;
    transition:2s; 
}
#bikes>#container>#div2>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 0px;
    
}
#bikes>#container>#div2>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#bikes>#container>#div3>img
{
    height: 220px;
    width: 320px;
    margin-top: 30px;
    transition:2s; 
}
#bikes>#container>#div3>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 23px;
}
#bikes>#container>#div3>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}


/* second card section */

#bikes>#container2
{
    display: block;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-evenly;
   
    
}




#bikes>#container2>#div1
{
   
    text-align: center;
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
#bikes>#container2>#div2
{
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    text-align: center;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
#bikes>#container2>#div3
{
    box-shadow: 8px -5px 6px rgb(56, 18, 116);
    border: 1.5px solid rgb(56, 18, 116);
    text-align: center;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
#bikes>#container2>#div1>img
{
    height: 240px;
    width: 350px;
    margin-top: 20px;
    transition:2s; 
}
#bikes>#container2>#div1>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0;
    
}
#bikes>#container2>#div1>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
}
#bikes>#container2>#div1>button
{
    background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}
#bikes>#container2>#div2>button
{
    background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}
#bikes>#container2>#div3>button
{
    background-color: rgb(82, 40, 150);
color: rgb(245, 241, 241);
width: 80%;
height: 40px;
border: none;
border-radius: 8px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 1.5rem;
}

#bikes>#container2>#div1>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}
#bikes>#container2>#div2>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}
#bikes>#container2>#div3>h4
{
  color: white; 
  font-size: 1.2rem;
  margin: 0;
}

#bikes>#container2>#div1>audio
{
   width: 30px; 
   height: 30px;
 margin-top: 10px;
 
}
#bikes>#container2>#div2>audio
{
   width: 30px; 
   height: 30px;
   margin-top: 10px;
}
#bikes>#container2>#div3>audio
{
   width: 30px; 
   height: 30px;
   margin-top: 10px;
}



#bikes>#container2>#div2>img
{
    height: 200px;
    width: 300px;
    margin-top: 40px;
    transition:2s; 
  
}
#bikes>#container2>#div2>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-top:20px;
    margin-bottom: 0;
    
}
#bikes>#container2>#div2>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
}
#bikes>#container2>#div3>img
{
    height: 220px;
    width: 320px;
    margin-top: 30px;
    transition:2s; 
}
#bikes>#container2>#div3>h3
{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 10px;
}
#bikes>#container2>#div3>ul
{
    list-style: none;
    padding-left: 0;
    color: white;
    line-height: 25px;
    padding: 15px;
}
#bikes>#container img:hover
{ 
    transform: scale(1.2);
}
#bikes>#container2 img:hover
{ 
    transform: scale(1.2);
}

/*whats new */

#whatsnew
{
    margin-bottom: 8%;
    margin-top: 15%;
}

#whatsnew>h1
{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5%;
    
    letter-spacing: 2px;
}
#whatsnew>#what-cont p
{
    color: white;
    font-size: 1.2rem;
    border-left: 4px solid rgb(56, 18, 116);
}

#whatsnew>#what-cont
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    overflow-x: auto;
    gap: 20px;
   
}
#whatsnew>#what-cont::-webkit-scrollbar
{
    color: black;
}

/*about us*/

#about-us>#main-cont
{
   color: white; 
   text-align: center;
}
#about-us>#main-cont>h1
{
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 5%;
    padding-top: 30px;
   
}
#about-us>#main-cont>p
{
    font-size: 1.5rem;
    text-align: center;
  
}

#about-us
{
    width: 100%;
    height: 100%;
     background-color: rgba(0, 0, 0, 0.733);
     background-blend-mode: overlay;
     position: relative;
}
#about-us>img
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    
}
#about-us>#main-cont>img
{
    height: 200px;
    width: 400px;
}
#about-us>#main-cont>#main-bot
{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin: auto;
   
}
#about-us>#main-cont>#main-bot>p>a
{
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
#about-us>#main-cont>#main-bot>p
{   
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(69, 69, 236);
    font-size: 1rem;
}

/*footer sec*/

#footer
{
  margin-top: 15%;
  width: 100%;
}
#footdiv
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 40px;
    border: 1px solid rgb(56, 18, 116);
    border-radius: 10px;
}
#footdiv>div>ul
{
    list-style: none;
    padding: 0;
}
#footdiv>div>ul>li>a
{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    line-height: 40px;
}
.head
{
    border-bottom: 2px solid rgb(56, 18, 116); 
}


#footer>#connect-with
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;
    
   
}
#footer>#connect-with i
{
    color: rgb(193, 160, 247);
    font-size: 3rem;
}
#footer>#connect-with>div
{
    border-bottom: 2px solid rgb(56, 18, 116); 
    padding-bottom: 20px;
}



}